{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<h1 class="neon">Bienvenue Sur Bucket-List</h1>


	<div class="topLayer"></div>
	<div class="lightbar "></div>

{% endblock %}
